<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DictionaryHack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C02A83E1D5E7AE500E4086F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C02A8521D5E7AE500E4086F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C02A85D1D5E7AE500E4086F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
